<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <description>The relative path to category images</description>
        <param-name>categoryImagePath</param-name>
        <param-value>img/categories/</param-value>
    </context-param>
    <context-param>
        <description>The Relative Path to products image</description>
        <param-name>productImagePath</param-name>
        <param-value>img/products/</param-value>
    </context-param>
    <servlet>
        <servlet-name>controllerServlet</servlet-name>
        <servlet-class>edu.acc.j2ee.controllerServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <servlet-class>edu.acc.j2ee.searchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>imageServlet</servlet-name>
        <servlet-class>edu.acc.j2ee.imageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ratingServlet</servlet-name>
        <servlet-class>edu.acc.j2ee.ratingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>edu.acc.j2ee.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controllerServlet</servlet-name>
        <url-pattern>/category</url-pattern>
        <url-pattern>/logout</url-pattern>
        <url-pattern>/searchResults</url-pattern>
        <url-pattern>/toOrder</url-pattern>
        <url-pattern>/visit</url-pattern>
        <url-pattern>/commentForm</url-pattern>
        <url-pattern>/login</url-pattern>
        <url-pattern>/invalidLogin</url-pattern>
        <url-pattern>/userLogged</url-pattern>
        <url-pattern>/noResult</url-pattern>
        <url-pattern>/image</url-pattern>
        <url-pattern>/data</url-pattern>
        <url-pattern>/checkLogin</url-pattern>
        <url-pattern>/admin</url-pattern>
        <url-pattern>/productDetail</url-pattern>
        <url-pattern>/customer_infos</url-pattern>
        <url-pattern>/signupForm</url-pattern>
        <url-pattern>/notLogin</url-pattern>
        <url-pattern>/welcome</url-pattern>
        <url-pattern>/invalidEmail</url-pattern>
        <url-pattern>/userExist</url-pattern>
        <url-pattern>/aboutUs</url-pattern>
        </servlet-mapping>
        <!--   <servlet-mapping>
            <servlet-name>ControllerServlet</servlet-name>
            <url-pattern>/controllerServlet</url-pattern>        
        </servlet-mapping>-->
        <servlet>
            <servlet-name>Faces Servlet</servlet-name>
            <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
            <load-on-startup>1</load-on-startup>
        </servlet>
        <servlet-mapping>
            <servlet-name>Faces Servlet</servlet-name>
            <url-pattern>*.xhtml</url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>loginServlet</servlet-name>
            <servlet-class>edu.acc.j2ee.loginServlet</servlet-class>
            <load-on-startup>1</load-on-startup>
        </servlet>
        <servlet-mapping>
            <servlet-name>loginServlet</servlet-name>
            <url-pattern>/secondServlet/*</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>searchServlet</servlet-name>
            <url-pattern>/searchServlet/*</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>imageServlet</servlet-name>
            <url-pattern>/imageServlet</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>ratingServlet</servlet-name>
            <url-pattern>/ratingServlet</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>RegisterServlet</servlet-name>
            <url-pattern>/servlet/RegisterServlet</url-pattern>
        </servlet-mapping>
        <session-config>
            <session-timeout>
                20
            </session-timeout>
        </session-config>
        <welcome-file-list>
            <welcome-file>/index.jsp</welcome-file>
            <welcome-file>index.xhtml</welcome-file>
        </welcome-file-list>
        <jsp-config>
            <jsp-property-group>
                <description>header and footer settings</description>
                <url-pattern>/index.jsp</url-pattern>
                <url-pattern>/WEB-INF/view/*</url-pattern>
                <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
                <include-prelude>/WEB-INF/jspf/header1.jspf</include-prelude>
            </jsp-property-group>
        </jsp-config>
        <resource-ref>
            <description> Connects to database for onlineshopping application</description>
            <res-ref-name>jdbc/onlineshopping</res-ref-name>
            <res-type>javax.sql.ConnectionPoolDataSource</res-type>
            <res-auth>Container</res-auth>
            <res-sharing-scope>Shareable</res-sharing-scope>
        </resource-ref>
</web-app>
